html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

button {
    background-image: background: linear-gradient(to right, rgba(211,211,211,0), rgba(211,211,211,1));
    border-radius: 8px;
    font-weight: bold;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

/* Styles for each card */
.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/* Styles when symbol is to be displayed */
.deck .card.open {
    transform: rotateY(3.142rad);
    transition-duration: 0.3s;
    background: #02b3e4;
    cursor: default;
}

/* Show the symbol */
.deck .card.show {
    font-size: 33px;
}

/* Styles to show that cards are not matched */
.deck .card.nomatch {
    animation: vibrate 0.5s;
    animation-iteration-count: 3;
}

@keyframes vibrate {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Styles to show that cards are matched */
.deck .card.match {
    cursor: default;
    font-size: 33px;
    animation: color-change 3s;
    background: #02ccba;
}

@keyframes color-change {
    from {background-color: #02b3e4;}
    to {background-color: #02ccba;}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin: 5px;
}

.score-panel .timer {
    text-align: center;
    margin-bottom: 5px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

/* Styles for screen with winning data */
#win-screen {
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    font-size: 20px;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
